.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #60489E;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.auth > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fafafa;
    border-radius: 10px;
    width: 500px;
    box-shadow: 21px 26px 14px rgba(0, 0, 0, 0.07);
}

.auth h1 {
    color: #60489E;
    font-weight: bold;
    font-size: 30px;
    margin-top: -40px;
    padding-bottom: 3px;
    border-bottom: 2px solid currentColor;
    align-self: flex-start;
}

.auth img {
    width: 300px;
    margin-top: -20px;
}

.auth .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 80%;
}

.auth .field label {
    width: fit-content;
    background-color: #4B3D7E;
    color: #fff;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.auth .field input {
    border: none;
    outline: none;
    border-radius: 3px;
    color: gray;
    font-style: italic;
    transition: all 300ms ease-in-out;
    border: 2px solid #4B3D7E;
    border-top-left-radius: 0px;
    padding: 5px;
}

.auth .field input:focus {
    font-style: normal;
}

.auth .field button {
    align-self: flex-start;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #60489E;
    color: #fff;
    padding: 8px;
    transition: all 300ms ease-in-out;
}

.auth .field button:hover {
    filter: brightness(1.1);
}

.switch {
    color: rgb(91, 91, 241);
    cursor: pointer;
    margin: 20px;
    margin-top: 0;
}

.switch:hover {
    text-decoration: underline;
}